body {
    color: white;
    background: rgb(78, 13, 68);
    margin: 0px;
}
header {
    border-bottom: solid 2px rgb(42, 228, 212);
    padding: 20px;
    font-size: 32px;
    color: rgb(42, 225, 228);
}
section {
    background: rgb(132, 67, 201);
    padding-bottom: 80px;
    padding-top: 80px;
}